@charset "utf-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style:none;
}
body{
	background-color:#7bb3ca;
    background-image:url("image/001.png");
	background-repeat: no-repeat;
	margin-right: auto;
	margin: 0px 0px 0px 0px;
}

.headfirst{
    background-color: #255176;
    height: 50px;
}
.fontfirst{
    font-style:normal;
	font-variant:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size: 20px;
    color: white;
    margin-left: 50px;
    line-height:250%;
}
.h-content {
	width: 900px;
	margin: 0px auto;
	position: relative;
} 
.h-content div{
	width:45%;
	height: 100%
}
.student{
	margin-top: 200px;
	float: left;
}
.stulogin{
	border-radius: 30px;
	margin-top: 200px;
	height: 400px;
	background-color: #ECECEF;
	float: right;
	box-shadow: 10px 10px 10px rgba(0,0,0,.4);
}
.stulogin div{
	width:35%;
	height: 100%
}
.student-img {
	height: 300px;
	margin-left: 40px;
}
h1{
	margin-top: 30px;
	text-align: center;
	color: #7BB3CA;
	margin-bottom: 20px
}
p2{
	color: #7BB3CA;
	font-size: 27px;
	margin-left: 70px;
	font-weight: 900;
}
p3{
	color: #7BB3CA;
	font-size: 27px;
	margin-top: 30px;
	margin-left: 70px;
	font-weight: 900;
	margin-bottom: 40px;
}
h4{
	color: #ECECEF;
	font-size: 27px;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 7px
	
}
.login_bottom{
	margin: 0px auto;
	border-radius: 30px;
}
.login_botton{
	background-color: #7BB3CA;
	margin: 0px auto;
	margin-left: -30px;
	margin-top: 30px;
	border-radius: 30px;
	width: 200px;
	cursor: pointer;
}
button{
    cursor: pointer;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}